{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h1>Login</h1><hr><br>

<form action="#" method="post">
<input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<p><input type="submit" name="submit"/></p>
</form>
<form action="/">
    <p><input type="submit" name="home" value="Back" /></p>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}
