{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<h1>Create Account</h1><hr><br>
<!-- Gonna be a form that takes 
        1) First name
        2) OPTIONAL middle name
        3) Last name
        4) SSN
        5) idk what else this stuff does, 
-->
<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <label for="middle_name">Middle Name:</label>
    <input type="text" id="middle_name" name="middle_name">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <label for="ssn">Social Security Number:</label>
    <input type="number" id="ssn" name="ssn" maxlength=9 minlength=9 required>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <input type=submit value="Create Account">
</form>

{% endblock %}
