{% extends 'base.html' %}

{% block head %}
<title>CCE Banking</title>
{% endblock %}


{% block body %}
<h1>Welcome back {{first_name}}! </h1>
    <form action="/">
        <input type="submit" value="home">
    </form>
    <div id="money">
        <h2>Savings: {{saving_acc_no}}</h2>
        <h3>${{saving_balance}}</h3><hr>
        <h2>Spending Limit on Savings: {{saving_spending_limit}}</h2>
        <h3>Savings Spent So Far: {{saving_spent}}</h3>
        <form action="/addToSavings">
            <input type="submit" name="add_to_savings" id="add_to_savings" value="Add to Savings">
        </form>
        <div>
            <form action="/transferSavings">
                <input type="submit" name="transfer_from_savings" id="transfer_from_savings" value="Transfer Money from Savings">
            </form>
        </div>
        
    </div>
    <div id="money">
        <h2>Checking: {{checking_acc_no}}</h2>
        <h3>${{checking_balance}}</h3><hr>
        <h2>Spending Limit on Checking: {{checking_spending_limit}}</h2>
        <h3>Checking spent So Far: {{checking_spent}}</h3>
        <form action="/addToChecking">
            <input type="submit" name="add_to_checking" id="add_to_checking" value="Add to Checking">
        </form>
        <div>
            <form action="/transferChecking">
                <input type="submit" name="transfer_from_checking" id="transfer_from_checking" value="Transfer Money from Checking">
            </form>
        </div>
    </div>

<form action="/logout">
    <p><input type="submit" style="background-color:#2ec9ff; border-color:#2ec9ff;" name="logout" value="Log out" /></p>
</form>
{% endblock %}

