{% extends 'base.html' %}

{% block head %}
<title>Create Account</title>
{% endblock %}

{% block body %}

<div id = "index">
  <div class="center">
      <h1>Create Account</h1>
      <form action="#" method="post">

        <div class="txt_field">
          <input type="first_name" name="first_name" required>
          <span></span>
          <label>First Name</label>
        </div>

        <div class="txt_field">
          <input type="middle_name" name="middle_name" required>
          <span></span>
          <label>Middle Name</label>
        </div>

        <div class="txt_field">
          <input type="last_name" name="last_name" required>
          <span></span>
          <label>Last Name</label>
        </div>

        <div class="txt_field">
          <input type="ssn" name="ssn" required>
          <span></span>
          <label>SSN</label>
        </div>

        <div class="txt_field">
          <input type="username" name="username" required>
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="email" name="email" required>
          <span></span>
          <label>Email</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>

        <input type="submit" name="submit" value="Sign Up">
      </form>

      <div class="signup_link">
          <form action="/">
              <span><input type="submit" name="home" value="Back"/></span>
          </form>
      </div>
  </div>
<center>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
  {% endwith %}
</center>
</div>



  <!--
<form action="#" method="POST">
    <input type="first_name" name="first_name" placeholder="First name" required>
    <input type="middle_name" name="middle_name" placeholder="Middle name" required>
    <input type="last_name" name="last_name" placeholder="Last name" required>
    <input type="ssn" name="ssn" placeholder="SSN" required>
    <input type="username" name="username" placeholder="Username" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <p><input type="submit" name="submit" /></p>
</form>
<form action="/">
    <p><input type="submit" name="home" value="Back" /></p>
</form>
-->


{% endblock %}
