{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div id = "index">
  <div class="center">
      <h1>Login</h1>
      <form action="#" method="post">

        <div class="txt_field">
          <input type="username" name="username" required>
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>

        <a href="{{ url_for('reset') }}"><div class="pass">Forgot Password?</div></a>
        <input type="submit" name="submit" value="Login">
      </form>

      <div class="signup_link">
          <form action="create">
              <span><input type="submit" name="submit" value="Sign Up"/></span>
          </form>
      </div>
  </div>

<center>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
              <h3>{{msg}}</h3>
          {% endfor %}
      {% endif %}
  {% endwith %}
</center>

</div>
<!--
<form action="#" method="post">
<input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<p><input type="submit" name="submit"/></p>
</form>
<form action="/">
    <p><input type="submit" name="home" value="Back" /></p>
</form>
-->

{% endblock %}

