{% extends 'base.html' %}

{% block head %}
<title>CCE Banking</title>
{% endblock %}


{% block body %}

<div id = "login">
  <div class="center">
      <h1>Login</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
              <h3>{{msg}}</h3>
          {% endfor %}
      {% endif %}
      {% endwith %}
      <form action="/login" method='post'>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p></p>
        Username:
        {{form.username}}
        <p></p>
        Password:
        {{form.password}}
        <p></p>
        Token:
        {{form.pin}}
        <p></p>
        <a href="{{ url_for('reset') }}"><div class="pass">Forgot Password?</div></a>
        {{form.submit()}}
      </form>
      <div class="signup_link">
        <form action="/">
            <span><input type="submit" name="home" value="Back"/></span>
        </form>
    </div>
  </div>

</div>
<!--
<form action="#" method="post">
<input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<p><input type="submit" name="submit"/></p>
</form>
<form action="/">
    <p><input type="submit" name="home" value="Back" /></p>
</form>
-->

{% endblock %}

