{% extends 'base.html' %}

{% block head %}
<title>Set Child Limit</title>
{% endblock %}

{% block body %}
    <form action="/successful_limits_set">
        <label for="child_ssn">Child's SSN: </label>
        <input type="text" id="child_ssn" name="child_ssn" required>
        <label for="saving_spending_limit">Saving Spending Limit: </label>
        <input type="number" id="saving_spending_limit" name="saving_spending_limit" required>
        <label for="checking_spending_limit">Checking Spending Limit: </label>
        <input type="number" id="checking_spending_limit" name="checking_spending_limit" required>
        <input type="submit" value="Set"
    </form>
{% endblock %}